# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\bigdata_xth_hbase20220515\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
