# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jikeshijian_git\bigdata_xth20220515_hbase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
